################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/_api/Smartlock/.vs/Smartlock/v16
